* {
    box-sizing: border-box;
    font-family: sans-serif;
}

$bg:#3d3a3b;
$colour:white;
$primary: #bb91ff;



:root {
    font-size: 16px;
    line-height:1.4em;
    --bg:#{$bg};
    --colour:#{$colour};
}

html,body {
    margin:0;
    padding:0;
}

body {
    display:flex;
    flex-direction: column;
    align-items: center;
    min-height:100vh;
    background: darken($bg,7%);
    color: var(--colour);
}

a {
    color:$primary;
    text-decoration: none;
    transition: .3s;
    &:hover {text-decoration: underline;color:lighten($primary,15%)}
}

blockquote {
    background: darken($bg,7%);
    margin-left:0;
    margin-right:0;
    padding: 0.5em 1em;
    p {
        border-left:6px solid rgba($colour,.2);
        padding: 0 1em;
    }
    p:last-of-type {
        margin:0;
    }
}

ul,ol {
    li {
        margin: .25em 0;
        &:first-of-type {margin-top:0}
        &:last-of-type {margin-bottom:0}
    }
}

nav,footer {
    background:$bg;
    width:100%;
    padding: 0.5em;
}

nav {
    border-bottom: 2px solid rgba($colour,.2);
    display:flex;
    a {
        margin: 0 0.5em;
        &:first-of-type {margin-left:0;}
        &:last-of-type {margin-right:0;}
    }
}

footer {
    border-top: 2px solid rgba($colour,.2);
    text-align:center;
}

main {
    flex: 1 0 auto;
    margin: 1em 0;
    max-width: 6in;
    width:100%;
    background:var(--bg);
    padding: 1em;
    &:last-child {
        margin-bottom:0;
    }
}

h1, h2, h3,
h4, h5, h6 {
    @extend %headings;
}

%headings {letter-spacing: 1px;line-height:1em;}

h1 {text-align:center}

%headings,p {
    margin-top:0;
    margin-bottom:1rem;
}

.entry-links {
    margin-top: auto;
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: 1fr; 
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    text-align: center;
    background: rgba(black,.1);
    & > *{padding:.5em;border:2px solid transparent}
    a.control:hover {background: rgba($primary,.1);border-color:$primary;text-decoration: none;}
    &:nth-child(1) {grid-area: 1 / 1 / 2 / 2;}
    &:nth-child(2) {grid-area: 1 / 2 / 2 / 3;}
    &:nth-child(3) {grid-area: 1 / 3 / 2 / 4;}
}

.btn,button {
    padding: 0.5em;
    text-align:center;
    display: inline-block;
    background-color: $primary;
    color:black;
    border-radius:1em;
    transition: .3s;
    &:hover {
        background-color: lighten($primary,10%);
        border-radius: .1em;
        text-decoration: none;
    }
}

.playlist ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-auto-rows: 1fr;
    grid-column-gap: .75em;
    grid-row-gap: .75em;
    text-align: center;
    list-style: none;
    padding:0;
    @media screen and (max-width:400px) {
        grid-template-columns: repeat(2, 1fr); 
    }
    li {
        margin:0;
        width:100%;
        border-radius:1em;
        box-shadow: 3px 3px 0 0 darken($bg,10%);
        a {
            height:100%;
            width:100%;
            display:flex;
            align-items:center;
            justify-content: center;
            flex-direction: column;
            background: darken($bg,6%);
            padding:.35em;
            border-radius:1em;
            text-align:center;

            small {display:block;}

            &:hover {
                background: darken($bg,10%);
                text-decoration: none;
                transform: translate(3px,3px);
            }
        }
    }
}